<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSMicrophoneUsageDescription</key>
	<string>VoiceBoard需要访问麦克风以进行语音识别</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>VoiceBoard需要语音识别权限将语音转换为文字</string>
	<key>NSLocalNetworkUsageDescription</key>
	<string>VoiceBoard需要访问本地网络以连接Mac设备</string>
	<key>NSBonjourServices</key>
	<array>
		<string>_vboard._tcp</string>
		<string>_vboard._udp</string>
	</array>
</dict>
</plist>
